@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://rsms.me/inter/inter.css');

body {
  @apply bg-gray-50;
}

input {
  /** Remove shadow on Safari iOS */
  -webkit-appearance: none;
}


/* Cards */

.card {
  padding: 2rem;
  margin: 1rem 0;
  border: 1px solid var(--color-gray);
  border-radius: 8px;
}

.card footer {
  display: flex;
}

.card-img-center {
  width:20%;
  display:block;
  margin:auto;
  border-radius: 50%;
  max-width: 150px;
}

.card-info {
  background: var(--color-blue);
}

.container {
  min-height: 100vh;
  display: flex;
}

.container section {
  width: 80%;
  margin-right: 1rem;
}

.container aside {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 20%;
  min-width: 250px;
  text-align: center;
  position: sticky;
  top: 80px;
  height: 0;
  min-height: 600px;
}


@media only screen and (max-width: 768px) {
  .container {
      flex-direction: column;
   }

  .container section {
      width: 100%;
  }
  
  .container aside {
      width: 100%;
      position: relative;
  }
}
